@import url('https://fonts.googleapis.com/css2? family= Noto+Serif+JP:wght@300 & display=swap');
* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}
.ozora-title{
  text-align: center;
  padding-top: 2000px;
}


.ozora-title img{
  height: 50%;
  width: 50%;
}

.top{
  background-image: url(./img/top.png);
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  height: 900px;
  width: 1900px;
}
.top-img{
  text-align: center;
}

.top-img img{
  padding-top: 200px;
  margin-bottom: 5px;
}
.top1{
  margin-left: 400px;
  max-width: 400px;
  text-align: center;
  position: center;
  margin-top: 110px;
}
.top1 img{
  text-align: center;
  position: absolute;
}

.background-top{
  background-image:url(./img/background-top.png);
  background-repeat: no-repeat;
  max-height: 9900px;
  max-width: 1900px;
  margin-top: 0;
}

.family-text{
  text-align: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 1200px 150px;
  background-position: center; 
  height: 250px;
  width:1900px;
  list-style-type: none;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  
}

li {
  float: left;
}

li a {
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
}



li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background: rgb(209,197,113);
  background: linear-gradient(190deg, rgba(209,197,113,1) 6%, rgba(255,250,237,1) 15%, rgba(230,207,145,1) 43%, rgba(229,207,147,1) 67%, rgba(253,247,230,1) 81%, rgba(211,198,116,1) 94%);
  border-radius: 25px;
  height: 70%;
}
.nav{
  text-align: center;
  display: inline-block;
  list-style: none;
  background-image: url(./img/top-family2.png);
  background-repeat: no-repeat;
  margin-top: 15px;
  background-size: 1400px 160px;
  text-align: center;
  max-width: 1400px;
  position: flex;
}
.nav ul{
  text-align: center;
  max-width: 1400px;
}
.nav ul li{
  list-style: none;
  display: inline;
  margin-left: 105px;
}
.nav ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  font-size:22px;
  font-family:'Noto Serif JP', serif;
  margin-top: 50px;
  max-width: 1000px;
}
.star{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -60px;
}
.box1{
  background-image: url(./img/box1.png);
  background-repeat: no-repeat;
  background-size:contain;
  height: 400px;
  width: 1200px;
  text-align: center;
  margin-left: 380px;
  display: flex;
  margin-left: 300px;

}
.box2{
  background-image: url(./img/box2.png);
  background-repeat: no-repeat;
  background-size:contain;
  height: 400px;
  width: 1200px;
  text-align: center;
  margin-left: 380px;
  display: flex;
  margin-left: 300px;
}
.box3{
  background-image: url(./img/box3.png);
  background-repeat: no-repeat;
  background-size:contain;
  height: 400px;
  width: 1200px;
  text-align: center;
  margin-left: 380px;
  display: flex;
  margin-left: 300px;
}

.box4{
  background-image: url(./img/box4.png);
  background-repeat: no-repeat;
  background-size:contain;
  height: 400px;
  width: 1200px;
  text-align: center;
  margin-left: 380px;
  display: flex;
  margin-left: 300px;
}
.box5{
  background-image: url(./img/box5.png);
  background-repeat: no-repeat;
  background-size:contain;
  height: 400px;
  width: 1200px;
  text-align: center;
  margin-left: 380px;
  display: flex;
  margin-left: 300px;

}
.grup .box1-button{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 450px;
  max-width: 1200px;
  margin-top: 250px;
}
.grup .box2-button{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 450px;
  max-width: 1200px;
  margin-top: 250px;
}
.grup .box3-button{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 450px;
  max-width: 1200px;
  margin-top: 240px;
}
.grup .box4-button{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 450px;
  max-width: 1200px;
  margin-top: 280px;
}
.grup .box5-button{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 450px;
  max-width: 1200px;
  margin-top: 280px;


}
.box1-button{
  padding: 0;
  margin: 0;
  background-image: url(./img/blank-button.png);
  background-repeat: no-repeat;
  background-size: 300px 110px;
  height: 110px;
  width: 400px;

}
.box2-button{
  padding: 0;
  margin: 0;
  background-image: url(./img/blank-button.png);
  background-repeat: no-repeat;
  background-size: 300px 110px;
  height: 110px;
  width: 400px;
}
.box3-button{
  padding: 0;
  margin: 0;
  background-image: url(./img/blank-button.png);
  background-repeat: no-repeat;
  background-size: 300px 110px;
  height: 110px;
  width: 400px;
}
.box4-button{
  padding: 0;
  margin: 0;
  background-image: url(./img/blank-button.png);
  background-repeat: no-repeat;
  background-size: 300px 110px;
  height: 110px;
  width: 400px;
}
.box5-button{
  padding: 0;
  margin: 0;
  background-image: url(./img/blank-button.png);
  background-repeat: no-repeat;
  background-size: 300px 110px;
  height: 110px;
  width: 400px;
}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 25px;
  font-family: 'Noto Serif JP', serif;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
  margin-left: -90px;
}


.success {color: rgb(255, 255, 255);}



.grup a{
  color: #fff;
  margin: 0;
  padding: 0;
 
}

.family-container{
  margin-left: 30px;
}
.family{
  background-image: url(./img/border-myslide1.png);
  background-size: 1650px 750px;
  height: 800px;
  background-repeat: no-repeat;
  display: flex;
  margin-top: -160px;
  position: center;
  margin-left: 100px;
}
.family-title{
  margin-top: -30px;
  text-align: center;
}

.familyresort-text{
  margin-top: 50px;
  margin-bottom: 30px;
}
.familyresort-text h2{
  color:#fff;
  text-align: center;
  margin-top: 10px;
  font-size: 36px;
  font-family: 'Noto Serif JP', serif;
}
.familyresort-container{
  display: flex;

}
.border-snow{
  height: auto;
  width: 1900px;
  margin: 0;
}
.mama-title{
  text-align: center;
  margin-top: -100px;
}
.mama-papa{
  width: 920px;
  height: 730px;
  margin-left: 500px;
  margin-top: 50px;
  position: space;
  text-align: center;
}
.mama-papa img{
  width: 400px;
  height: 500px;
  margin-top: 20px;
  margin-left: 30px;
  height: auto;
}
.mama-container{
  margin: 0;
  margin-top: -90px;
}

.mamapapa-container{
  max-width: 700px;
  margin: 0;
  justify-content: space-between;
}
.mama-papa_text{
  color:#fff;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Serif JP', serif;
  margin-top: -90px;
  margin: 0;
}
.santa{
  margin-left:1700px;
  margin-top: -200px;

}
.buttom-img{
  text-align: center;
  margin-top: -120px;

}

.swiper {
  max-width: 800px;
  max-height: 600px;
  margin-top: 50px;
}
.swiper-pagination{
  color: rgb(163, 38, 36);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
}
.swiper-slide img{
  height: 600px;
  width: 800px;
  display: block;
  object-fit: cover;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.champ-title{
  text-align: center;
  margin-top: -90px;
}
.champ-text{
  color: #fff;
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Serif JP', serif;
}
.champ-container{
  text-align: center;
}

.bufe-container{
  padding: 0;
  margin: 0;
  max-width: 1000px;
  text-align: center;
  margin-left: 430px;
}
.bufe-title{
  text-align: center;
  margin-left: -180px;
  margin-top: -60px;
}
.bufetext-container{
  text-align: center;
}

.bufe-text{
  color: #fff;
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Serif JP', serif;
}
.bottom-container{
  text-align: center;
}
.bottom2-container{
  text-align: center;

}
.kuchikomi{
  margin-top: 30px;
}
.kupon{
  margin-top: 40px;
}
.jalandana{
  margin-top: 50px;
}
.jalandana img{
  margin-left: 70px;

}
.border-snow{
  text-align: center;
}
.kupon-spuce .container{
  max-width: 300px;

}
.text-kupon h2{
  color: #fff;
  margin-top: 10px;
}
.text-kupon {
  margin-top: 40px;
}
.flex-container{
  display:flex;
  justify-content: space-between;
  margin-top: -400px;
}
.flex-wrapper{
 display: absolute;
 top: -50px
}
