@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 1024px){
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.background{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1940px;
    height: 9900px;
    margin-top: 0;
}
.top1{
    margin: 60px 100px;
    padding: 480px 100px;
    margin-left: 270px;
}
.top2{
    margin:-500px;
    padding: 10px 100px;
    margin-left: 40px;
}
.star{
    margin:500px;
    padding: 10px 40px;
    margin-left: -10px;
}
.familyandgrup{
    margin:-650px;
    padding: 10px 40px;
    margin-left: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wrap{
    display:flex;
    animation:slide 15s infinite;
}
.wrap img{
    width: 100%;
}
.family02 {
    height: 200px;
    top:-100px
}
@keyframes slide{
    0% {
          transform:translateX(0);
    }
    10% {
         transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-300%);
    }
    60% {
        transform: translateX(300%);
    }
    70% {
        transform: translateX(300%);    
    }
    80% {
        transform: translateX(-200%);
    }
    90% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.familygrup{
    width:400px;
    height: 300px;
    margin:1200px;
    margin-left: 20px;
    margin-top: -50px;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 10px 25px 30px(0,0,0,0);
}